body {
	background-color: lightblue;
}

p {
	font-size: 36px;
	color: red;
}

select {
    background-color: grey;
    border-color: black;
    color: white;
    font-size: 25px;
    height: 30px;
    width: 150px;
}

select#face {
    margin-left: 10px;
}

button {
    width: 240px;
    height: 80px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: yellow;
    border-color: black;
    color: blue;
    font-size: 20px;
    display: block;
}

button:hover {
    background-color: red;
    font-size: 25px;
}